<header>
    <nav>
        <ul class="flex">
            <li>Header</li>
            <li>
                <a routerLink="/about" routerLinkActive="active">About</a>
            </li>
            <li>
                <ul class="flex">
                    <li>
                        <a routerLink="/history" routerLinkActive="active">Angular versions</a>
                    </li>
                    <li>
                        <a routerLink="/map" routerLinkActive="active">Map</a>
                    </li>
                    <li>
                        <a routerLink="/users" routerLinkActive="active">Users</a>
                    </li>
                    <li>
                        <a routerLink="/assignments/insights" routerLinkActive="active">Insights</a>
                    </li>
                </ul>
            </li>
            <li>
                <a routerLink="/course" routerLinkActive="active">Angular </a>
            </li>
            <li>
                <a routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
        </ul>
    </nav>
    <app-slider></app-slider>
</header>