<h3 class="title bB">About</h3>

<div class="content">
    <div class="features f8">
        <h4>Why choose angular</h4>
        <div>
            Cross platform
            <ul>
                <li>Progressive web apps</li>
                <li>Native</li>
                <li>Desktop</li>
            </ul>
            Speed and performance
            <ul>
                <li>Code generation</li>
                <li>Universal</li>
                <li>Code splitting</li>
            </ul>
            Productivity
            <ul>
                <li>Templates</li>
                <li>Angular cli</li>
                <li>Ides</li>
            </ul>
            Full development story
            <ul>
                <li>Testing</li>
                <li>Animation</li>
                <li>Accessibility</li>
            </ul>
        </div>
    </div>
</div>