<div class="about" style="display: flex;">
    <div class="left-column" style="flex: 3; border-right: 1px solid #ccc">
        <h3>About</h3>
        <div style="border-top: 1px solid #ccc;">
            Why choose Angular?
            <br>- Cross platform
            <br>- Speed and performance
            <br>- Productivity
            <br>- Full development story
        </div>
    </div>
    <div class="right-column" style="flex: 8;">
        <h3>Features</h3>
        <div style="display: flex; border-top: 1px solid #ccc;">
            <div class="logo" style="flex: 4; border-right: 1px solid #ccc;">
                <img
                    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
            </div>
            <div class="features" style="flex: 8; text-align: center;">
                Cross platform
                <ul style="display: flex; justify-content: center; padding: 0; list-style-type: disc; border-bottom: 1px solid #ccc;">
                    <li style="margin-left: 30px;">Progressive web apps</li>
                    <li style="margin-left: 30px;">Native</li>
                    <li style="margin-left: 30px;">Desktop</li>
                </ul>
                Speed and performance
                <ul style="display: flex; justify-content: center; padding: 0; list-style-type: disc; border-bottom: 1px solid #ccc;">
                    <li style="margin-left: 30px;">Code generation</li>
                    <li style="margin-left: 30px;">Universal</li>
                    <li style="margin-left: 30px;">Code splitting</li>
                </ul>
                Productivity
                <ul style="display: flex; justify-content: center; padding: 0; list-style-type: disc; border-bottom: 1px solid #ccc;">
                    <li style="margin-left: 30px;">Templates</li>
                    <li style="margin-left: 30px;">Angular cli</li>
                    <li style="margin-left: 30px;">Ides</li>
                </ul>
                Full development story
                <ul style="display: flex; justify-content: center; padding: 0; list-style-type: disc;">
                    <li style="margin-left: 30px;">Testing</li>
                    <li style="margin-left: 30px;">Animation</li>
                    <li style="margin-left: 30px;">Accessibility</li>
                </ul>
            </div>
        </div>

    </div>
</div>