<div>
    <h3>Angular version history</h3>
   
    <button class="btn btn-lg btn-outline-primary" (click)="open(ng1)">Angular js 1.x</button>
    <button class="btn btn-lg btn-outline-primary" (click)="open(ng2)">Angular 2</button>
    <button class="btn btn-lg btn-outline-primary" (click)="open(ng3)">Angular 3</button>
    <button class="btn btn-lg btn-outline-primary" (click)="open(ng4)">Angular 4</button>
    <button class="btn btn-lg btn-outline-primary" (click)="open(ng5)">Angular 5</button>
    <button class="btn btn-lg btn-outline-primary" (click)="open(ng6)">Angular 6</button>
    <button class="btn btn-lg btn-outline-primary" (click)="open(ng7)">Angular 7</button>
    <button class="btn btn-lg btn-outline-primary" (click)="open(ng8)">Angular 8</button>
    <button class="btn btn-lg btn-outline-primary" (click)="open(ng9)">Angular 9</button>
    <button class="btn btn-lg btn-outline-primary" (click)="open(ng10)">Angular 10</button>
    <button class="btn btn-lg btn-outline-primary" (click)="open(ng11)">Angular 11</button>

    <ng-template #ng1 let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Angular js 1.x</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Release date:
          Features:
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div>
      </ng-template>

      <ng-template #ng2 let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Angular 2</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Release date:
          Features:
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div>
      </ng-template>

      <ng-template #ng3 let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Angular 3</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Release date:
          Features:
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div>
      </ng-template>

      <ng-template #ng4 let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Angular 4</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Release date:
          Features:
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div>
      </ng-template>

      <ng-template #ng5 let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Angular 5</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Release date:
          Features:
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div>
      </ng-template>

      <ng-template #ng6 let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Angular 6</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Release date:
          Features:
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div>
      </ng-template>

      <ng-template #ng7 let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Angular 7</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Release date:
          Features:
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div>
      </ng-template>

      <ng-template #ng8 let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Angular 8</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Release date:
          Features:
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div>
      </ng-template>

      <ng-template #ng9 let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Angular 9</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Release date:
          Features:
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div>
      </ng-template>

      <ng-template #ng10 let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Angular 10</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Release date:
          Features:
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div>
      </ng-template>

      <ng-template #ng11 let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Angular 11</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Release date:
          Features:
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div>
      </ng-template>


</div>