<div>
    <form action="" style="text-align: center;">
        <h3>Contact form</h3>
        <table style="margin: auto; text-align: left;;">
            <tr>
                <td>Name:</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Email address:</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>Contact no:</td>
                <td><input type="text" name="contactno"></td>
            </tr>
            <tr>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>
</div>