<h3 class="title bB">Contact form</h3>

<div class="content">
    <form action="" style="text-align: left;">
        <table style="margin: auto;">
            <tr>
                <td>Name:</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Email address:</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>Contact no:</td>
                <td><input type="text" name="contactno"></td>
            </tr>
            <tr>
                <td>Message:</td>
                <td><textarea name="message"></textarea></td>
            </tr>
            <tr>
                <td rowspan="2"><input type="submit"></td>
            </tr>
        </table>
    </form>
</div>