<section>
    <h3 class="title">Course curriculum</h3>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10/06/2021 | Thu</td>
                <td>bootstrap, typescript</td>
            </tr>
            <tr>
                <td>11/06/2021 | Fri</td>
                <td>bootstrap, typescript</td>
            </tr>
            <tr>
                <td>14/06/2021 | Mon</td>
                <td>routing, data binding, event binding, property binding, *ngFor</td>
            </tr>
            <tr>
                <td>15/06/2021 | Tue</td>
                <td>lazy module loading, passing data, passing data through queryParams and activatedRoute, route guard interface (canActivate, canDeactivate, canLoad, canActivateChild, resolve</td>
            </tr>
            <tr>
                <td>16/06/2021 | Wed</td>
                <td>data binding, event binding, property binding, *ngFor</td>
            </tr>
        </tbody>
    </table>
</section>